/* All this CSS is doing is making a container as big as your browser, and centering content in it both horizontally and vertically */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center center;
    flex-direction: column;
  }
  
  /* Big center aligned text */
  #nameContainer {
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
  }